html {
  background-image: url("http://hdqwalls.com/wallpapers/8-bit-pixel-art-city-2o.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #03141B;
  /*background: linear-gradient(#03141B, #4F3042, #553948);*/
}
body {
  text-align: center;
  background-color: rgba(0,0,0,0.3);
  margin-right: 20px;
  margin-left: 20px;
}
h1 {
  color: #FFF;
  font-family: 'Marck Script', cursive;
  font-size: 50px;
  letter-spacing: 0px;
  padding-top: 10px;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
}
h2 {
  color: #FFF;
  font-family: 'Marck Script', cursive;
  font-size: 40px;
  letter-spacing: 5px;
}
h3, h4 {
  color: #FFF;
  font-family: 'Raleway:700', sans-serif;
  letter-spacing: 5px;
}
p {
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;
}
div {
  width: 1000px;
  margin: auto;
}
#status {
  border-style: dashed;
  border-color: #FFF;
}
#status h2 {
  font-size: 25px;
}