html {
  background-image: url("http://i66.tinypic.com/34t514x.png");
  background-size: cover;
}

body {
  text-align: center;
}

h1 {
  color: #FFF;
  font-family: 'Marck Script', cursive;
  font-size: 100px;
  letter-spacing: 5px;
}
div {
  margin: auto;
  margin-top: -30px;
  width: 50%;
}
h3, p {
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;
}

input[type="text"] {
  width: 40%;
  height: 30px;
  border: none;
  background: transparent;
  border-bottom: 2px solid #FFF;
}
input[type="text"]:focus, input[type="text"]:hover {
  border: none;
  background: rgba(255, 255, 255, 0.3);
  border-bottom: 2px solid #FFF;
}
input[type="submit"] {
  background: transparent;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 3px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background: rgba(255, 255, 255, 0.3);
}
input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}