html {
  background-image: url("http://i66.tinypic.com/34t514x.png");
  background-size: cover;
}

body {
  text-align: center;
}

h1 {
  color: #FFF;
  font-family: 'Marck Script', cursive;
  font-size: 100px;
  letter-spacing: 5px;
}
div {
  margin: auto;
  width: 50%;
}
h3, p {
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;
}

input[type="text"] {
  width: 40%;
}