html {
  background-image: url("http://i63.tinypic.com/2jfhlpy.gif");
  background-repeat: repeat-x;
  background-color: #D69EEA;
}

body {
  text-align: center;
}

h2 {
  color: #FFF;
  font-family: 'Marck Script', cursive;
  font-size: 50px;
  letter-spacing: 5px;
}

p {
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;
}

div {
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;
  margin: auto;
  text-align: left;
  width: 200px;
  white-space: nowrap;
}

#long_checkbox {
  width: 280px;
}

select {
  width: 100px;
}

input[type="checkbox"] {
  margin-right: 7px;
}

/*Styling for submit button*/
input[type="submit"] {
  background: transparent;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  padding: 10px 20px;
  margin-top: 30px;
  border: 2px solid white;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: rgba(255, 255, 255, 0.3);
}