<!DOCTYPE html>
<html>
  <head>
    <title>luna.</title>
    <link href="https://fonts.googleapis.com/css?family=Marck+Script|Raleway" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    
    <!--Heading and info-->
    <h1>luna.</h1>
    <div>
      <h3>Greetings, sister. Welcome to luna. </h3>
      <p>We are a documentation and advice resource for your period, here to help you both keep track of a current or recent cycle and navigate the pressing issues that can pop up at that time of the month. Luna is unique: our services connect you to a simple explanation of your symptoms and both conventional and different, atypical solutions that real women live by to conquer their period.</p>
  	  <p>Women are inherently lunar. We believe that periods don’t have to be a blaring code-red, because with the right guidance, your cycle can be as serene as the goddess Luna. Join us in taking control of your period, and get ready to rule the moon.</p>
    </div>
    
    <!--The form-->
    <form method="POST" action="/survey">
      <h3> <p>What's your name, sister?</p> </h3>
      <input type="text" name="user_name">
      <input type="submit">
    </form>
  </body>
</html>
