<!DOCTYPE html>
<html>
  <head>
    <title>Moon Magic</title>
  </head>
  <body>
    
    <!--Heading and info-->
    <h1>Moon Magic</h1>
    <h3>Greetings, shister. Welcome to luna.</h3>
    <p>We are a documentation and advice resource for your period, here to help you both keep track of a current or recent cycle and navigate the pressing issues that can pop up at that time of the month. Luna is unique: our services connect you to a simple explanation of your symptoms and both conventional and different, atypical solutions that real women live by to conquer their period.</p>
	  <p>Women are inherently lunar. We believe that periods don’t have to be a blaring code-red, because with the right guidance, your cycle can be as serene as the goddess Luna. Join us in taking control of your period, and get ready to rule the moon.</p>

    <!--The form-->
    <form method="POST" action="/survey">
      <p>What's your name, shister?</p>
      <input type="text" name="user_name">
      <input type="submit">
    </form>
  </body>
</html>
