<!DOCTYPE html>
<html>
  <head>
    <title>Moon Magic</title>
  </head>
  <body>
    
    <!--Heading and info-->
    <h1>Moon Magic</h1>
    <h3>We're all stressed when that time of the month comes around. We're here to help.</h3>
    
    <!--The form-->
    <form method="POST" action="/survey">
      <p>Enter your name:</p>
      <input type="text" name="user_name">
      <input type="submit">
    </form>
  </body>
</html>
