<!DOCTYPE html>
<html>
  <head>
    <title>luna.</title>
    <link href="https://fonts.googleapis.com/css?family=Marck+Script|Raleway:400,700" rel="stylesheet">
    <link href="css/result.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>General Information!</h1>
    <h2>If you'd like to know more about your period, click on the logos to check out the sites below!</h2>
    <div>
      <h3>LOLA</h3>
      <p>LOLA is a company that was founded by women, to make reproductive care more transparent. They include a list of ingredients on the back of all their products, so that you know what's going in your body.</p>
      <a href="https://www.mylola.com/" target="_blank"><img src="https://www.bbgventures.com/wp-content/uploads/2016/06/logo_lola_2x.png"></a>
      
      <h3>LibraGirl</h3>
      <p>LibraGirl is a site with lots of resources for girls experiencing their first period. There is a forum where girls can chat about what they're experiencing, and even ask experts questions. Parents and teachers even have their own sections where they can get information and resources to guide girls through a new experience</p>
      <a href="https://www.libragirl.com/" target="_blank"><img src="https://www.libragirl.com/Global/20_LibraGirl/Logo/LibraGirlLogo_291x148.png"></a>
      
      <h3>U by Kotex</h3>
      <p>This site contains lots of articles and answers from peers, moms, and experts for all the period problems you can think of. If you'd like to get input from real people, join in on the forum discussion to both learn and help.</p>
      <a href="https://www.ubykotex.com/en-us/periods" target="_blank"><img src="https://www.ubykotex.com/-/media/ubykotex/logo.png"></a>
      
      <h3>Helping Women Period</h3>
      <p>Helping Women Period is a nonprofit that works to provide homeless or low-income women with menstrual products, which are very expensive. Their website also has many resources, including articles and information about organizations.</p>
      <a href="https://www.helpingwomenperiod.org/resources/" target="_blank"><img src="https://www.helpingwomenperiod.org/wp-content/uploads/2017/01/HWP_forWEB.png"></a>
      
      <h3>Jean Hailes</h3>
      <p>Jean Hailes for Women's Health is another nonprofit that aims to provide knowledge about a woman's health throughout their life and inspire confidence. They have collected a lot of information about periods, their symptoms, and how to treat them.</p>
      <a href="https://jeanhailes.org.au/health-a-z/periods" target="_blank"><img src="https://jeanhailes.org.au/images/made/assets/img/jean-hailes-logo_253_105.png"></a>
      
      <footer> 
        <p>We hope you enjoyed using our website!</p>
        <p>From the creators of luna.: Hilary Zen, Jevina Wong, and Sarah Pethani</p>
      </footer>
    </div>
  </body>
</html>