<!DOCTYPE html>
<html>
  <head>
    <title>luna.</title>
    <link href="https://fonts.googleapis.com/css?family=Marck+Script|Raleway:400,700" rel="stylesheet">
    <link href="css/result.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>General Information!</h1>
    <h2>If you'd like to know more about your period, check out the sites below!</h2>
    <a href="https://www.mylola.com/" target="_blank"><img src="https://www.bbgventures.com/wp-content/uploads/2016/06/logo_lola_2x.png"></a>
  </body>
</html>