<!DOCTYPE html>
<html>
  <head>
    <title>Moon Magic</title>
  </head>
  <body>
    <form method="POST" action="/result">
      <select name="flow">
        <option value="spotty">Spotty</option>
        <option value="light">Light</option>
        <option value="Medium">Medium</option>
        <option value="Heavy">Heavy</option>
        <option value="Flood Warning">Flood Warning</option>
      </select>
      <input type="submit">
    </form>
  </body>
</html>
