<!DOCTYPE html>
<html>
  <head>
    <title>Moon Magic</title>
  </head>
  <body>
    <form method="POST" action="/result">
      <h2>Flow</h2>
      <p>Please describe your flow!</p>
      <select name="flow">
        <option value="spotty">Spotty</option>
        <option value="light">Light</option>
        <option value="medium">Medium</option>
        <option value="heavy">Heavy</option>
        <option value="flood-warning">Flood Warning</option>
      </select>
      
      <h2>Pain from Down Under</h2>
      <p>How bad are the cramps this month?</p>
      <select name="cramps">
        <option value="zero">0</option>
        <option value="one">1</option>
        <option value="two">2</option>
        <option value="three">3</option>
        <option value="four">4</option>
        <option value="five">5</option>
        <option value="six">6</option>
      </select>
      
      <h2>Other Physical Problems</h2>
      <p>Please check all problems that you experience:</p><br>
      <input type="checkbox" name="physical1" value="headache">Headaches<br>
      <input type="checkbox" name="physical2" value="fatigue">Fatigue<br>
      <input type="checkbox" name="physical3" value="tender-breasts">Tender breasts<br>
      <input type="checkbox" name="physical4" value="leg-aches">Leg aches<br>
      <input type="checkbox" name="physical5" value="back-aches">Back aches<br>
      
      <h2>Skin</h2>
      <p>How's your skin during your period?</p>
      <select name="skin">
        <option value="oily">Oily</option>
        <option value="dry">Dry</option>
        <option value="normal">Normal!</option>
      </select>
      <p>Where do you get acne?</p>
      <input type="checkbox" name="acne1" value="cheeks">Cheeks<br>
      <input type="checkbox" name="acne2" value="t-zone">T-zone<br>
      <input type="checkbox" name="acne3" value="mouth-chin">Mouth/Chin<br>
      <input type="checkbox" name="acne4" value="chest-arms">Chest & Arms<br>
      <input type="checkbox" name="acne5" value="back">Back<br>
      
      <h2>Digestion</h2>
      <p>Check any that you suffer from during your period!</p>
      <input type="checkbox" name="digestion1" value="bloating">Bloating<br>
      <input type="checkbox" name="digestion2" value="nausea-vomiting">Nausea/Vomiting<br>
      <input type="checkbox" name="digestion3" value="constipation">Constipation<br>
      <input type="checkbox" name="digestion4" value="diarrhea">Diarrhea<br>
      <input type="checkbox" name="digestion5" value="gaseous">Gaseous<br>
      <p>How's your appetite?</p>
      <select name="appetite">
        <option value="poor">Poor</option>
        <option value="good">Good</option>
        <option value="increased">Increased</option>
        <option value="insatiable">Insatiable</option>
      </select>
      <p>Do you have any cravings during your period? Check all that apply!</p>
      <input type="checkbox" name="craving1" value="sweets">Sweets and surgary goods<br>
      <input type="checkbox" name="craving2" value="mild-sweet">Mildly sweet goods<br>
      <input type="checkbox" name="craving3" value="salty">Salty and greasy goods<br>
      <input type="checkbox" name="craving4" value="mild-salty">Mildly salty goods<br>
      <input type="checkbox" name="craving5" value="dairy">Dairy<br>
      <input type="checkbox" name="craving6" value="meat">Meat<br>
      <input type="checkbox" name="craving7" value="veggies-fruits">Veggies and fruits<br>
      <input type="submit">
    </form>
  </body>
</html>
